<h1 class="title">Alerts for {{area.description}}</h1>

<article ng-repeat="info in areaAlerts | filter:{'language' : 'en-CA'}">
   <header>
      <h1>{{info.headline | uppercase}}</h1>
   </header>

   <section class="alert-meta">
      <dl>
         <dt>Issuer</dt>
         <dd ng-show="info.web"><a href="{{info.web}}">{{info.senderName}}</a></dd>
         <dd ng-hide="info.web">{{info.senderName}}</dd>

         <dt>Issued</dt>
         <dd>{{now - parseDate(info.effective) | timeDifference}} ago &ndash; {{info.effective | date:"EEEE, MMMM d, yyyy 'at' h:mm a"}}</dd>

         <dt>Expires</dt>
         <dd>In {{parseDate(info.expires) - now | timeDifference}} &ndash; {{info.expires | date:"EEEE, MMMM d, yyyy 'at' h:mm a"}}</dd>

         <dt>Affected Areas</dt>
         <dd><span ng-repeat="area in info.areas">{{area.description}}{{ $last ? '' : ', '}}</span></dd>

         <dt>Severity</dt>
         <dd style="text-transform: capitalize;">{{info.severity | lowercase}}</dd>

         <dt>Urgency</dt>
         <dd style="text-transform: capitalize;">{{info.urgency | lowercase}}</dd>

         <dt>Certainty</dt>
         <dd style="text-transform: capitalize;">{{info.certainty | lowercase}}</dd>
      </dl>
   </section>

   <hr />

   <p ng-show="info.description" ng-bind-html="info.description | linebreaks"></p>

   <p ng-show="info.instruction"><em>{{info.instruction}}</em></p>
</article>
